 /* ------ GENERAl LAYOUT ------ */
 * {
    font-family: 'Poppins', sans-serif !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: .1s;
  }

  body {
    background: #202c33;
  }

  i {
    width: 60px;
    margin: auto;
  }

  /* ------ FONTS ------ */
  .right-name {
    color: whitesmoke;
    font-size: 1em;
    font-weight: inherit;
    padding-bottom: 3px;
  }

  .online-status {
    color: whitesmoke;
    font-size: 0.8em;
    font-weight: inherit;
  }

  .green-background {
    background: #009688;
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
  }

  .wrap {
    display: flex;
    height: 100vh;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 2px 2px #111b21;
  }

  /* ------ LEFT SIDE ------ */
  .left {
    width: calc(100% - 400px);
    min-width: 300px;
  }

  .profile {
    width: 100%;
    height: 60px;
    background: #202c33;
    display: flex;
    justify-content: space-between;
  }

  .profile img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }

  .dp-col{
    width: 60px;
  }

  .dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .time{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
  }

  .time small{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }

  .search .icons{
    background: transparent;
  }
  .icons {
    color: #aaaaaa;
    display: flex;
    text-align: center;
    width: 80px;
  }

  .wrap-search {
    width: 100%;
    height: 45px;
    background: #111b21;
    display: flex;
  }

  .search {
    width: calc(100% - 20px);
    height: 30px;
    background: #202c33;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 5px;
    display: flex;
  }

  .search i {
    width: 60px;
  }
  .wrap-message{
    background-color: #111b21;
  }
  .search i,
  .wrap-message i {
    color: #aaaaaa;
    text-align: center;
  }

  .input-search {
    background-color: #202c33;
    width: 100%;
    border: none;
    outline: 0;
    color: antiquewhite;
  }

  .input-search:focus {
    outline: none;
  }

  .contact-list {
    background-color: #111b21;
    width: 100%;
    height: calc(100% - 105px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .contact-table{
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
  }
  .contact{
    width: 100%;
    background: transparent;
    color: cornsilk;
    position: relative;
  }
  
  .contact-name::after{
    content: "";
    bottom: 0;
    position: absolute;
    width: 80%;
    border-bottom: 1px solid #202c33;
  }

  .contact-name{
    height: 50px;
  }

  /* ------ RIGHT SIDE ------ */
  .right {
    min-width: calc(100% - 400px);
    border-left: 1px solid rgb(84, 81, 81);
  }

  .chat-head {
    background-color: #202c33;
    width: 100%;
    height: 60px;
    display: flex;
  }

  .chat-head img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }

  .chat-head i {
    color: #aaaaaa;
    width: 60px;
    margin: auto;
    text-align: center;
  }

  .chat-name {
    width: 100%;
    margin: auto;
    color: whitesmoke;
  }

  .wrap-chat {
    display: flex;
    height: calc(100% - 120px);
  }
  
  .chatbox {
    position: relative;
    color: white;
    background-image: url(https://i.pinimg.com/564x/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg);
    background-size: cover;
    width: 100%;
    padding: 5%;
    overflow-y: auto;
  }
  
  .massage {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  
  .massage p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.9em;
    background: #075E54;
  }

  .my_massage p::before{
    content: "";
    position: absolute;
    top: 0;
    right: -9px;
    width: 20px; 
    height: 20px;
    border-top-right-radius: 3px;
    background: linear-gradient(135deg,#075E54 0%,#075E54 50%,transparent 50%,transparent 100%);
  }
  
  .massage p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }

  .my_massage{
    justify-content: flex-end;
  }
  
  .frnd_massage{
    justify-content: flex-start;
  }
  
  .frnd_massage p{
    background-color: #202c33;
  }
  .frnd_massage p::before{
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    height: 20px;
    width: 20px;
    border-top-left-radius: 5px;
    background: linear-gradient(225deg,#202c33 0%,#202c33 50%,transparent 50%,transparent 100%);
  }
  
  /*--------------Scrollbar---------------*/
  ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #2a3942bb;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* ------ CHAT ------ */
  
  .text-area {
    display: flex;
    width: 100%;
    height: 45px;
    background: #2a3942;
    margin: auto;
    /* border: 1px solid #eeeeee; */
    border-radius: 5px;
  }
  
  .wrap-message {
    width: 100%;
    height: 60px;
    background: #111b21;
    display: flex;
  }


  .input-message {
    width: 100%;
    margin: 0px 10px;
    border: none;
    outline: 0;
    color: antiquewhite;
    background: #2a3942;
  }
  
  /* ------ MEDIA QUERIES ------ */
  @media (min-width: 1200px) {
    .wrap {
      overflow: hidden;
      margin-bottom: 2vh;
      margin-top: 25px;
      height: calc(98vh - 25px);
    }
  }

  @media (max-width: 600px) {
    .wrap {
      height: calc(100vh - 0.4em)
    }
  }
