 /* ------ GENERAl LAYOUT ------ */
 * {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    background: #202c33;
  }

  i {
    width: 60px;
    margin: auto;
  }

  /* ------ FONTS ------ */
  .font-name {
    color: #000000;
    font-size: 1em;
    font-weight: inherit;
    padding-bottom: 3px;
  }

  .font-preview {
    color: #444444;
    font-size: 0.9em;
    font-weight: inherit;
  }

  .font-online {
    color: #777777;
    font-size: 0.8em;
    font-weight: inherit;
  }

  .green-background {
    background: #009688;
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
  }

  .wrap {
    border-radius: 10px;
    display: flex;
    height: 100vh;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 2px 2px #111b21;
    overflow: hidden;
  }

  /* ------ LEFT SIDE ------ */
  .left {
    width: 400px;
  }

  .profile {
    width: 100%;
    height: 60px;
    background: #202c33;
    display: flex;
    justify-content: space-between;
  }

  .profile img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }
  .dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .search .icons{
    background: transparent;
  }
  .icons {
    color: #aaaaaa;
    display: flex;
    text-align: center;
    width: 80px;
  }

  .wrap-search {
    width: 100%;
    height: 45px;
    background: #111b21;
    display: flex;
  }

  .search {
    width: calc(100% - 20px);
    height: 30px;
    background: #202c33;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 5px;
    display: flex;
  }

  .search i {
    width: 60px;
  }
  .wrap-message{
    background-color: #111b21;
  }
  .search i,
  .wrap-message i {
    color: #aaaaaa;
    text-align: center;
  }

  .input-search {
    background-color: #202c33;
    width: 100%;
    border: none;
  }

  .input-search:focus {
    outline: none;
  }

  .contact-list {
    background-color: #111b21;
    width: 100%;
    height: calc(100% - 105px);
    overflow-y: auto;
  }
  .contact{
    width: 100%;
    background: transparent;
    color: cornsilk;
    padding: 0 10px;
  }

  .new-message p {
    margin: auto;
  }

  /* ------ RIGHT SIDE ------ */
  .right {
    min-width: calc(100% - 400px);
    border-left: 1px solid rgb(84, 81, 81);
  }

  .chat-head {
    background-color: #202c33;
    width: 100%;
    height: 60px;
    display: flex;
  }

  .chat-head img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
  }

  .chat-head i {
    color: #aaaaaa;
    width: 60px;
    margin: auto;
    text-align: center;
  }

  #close-contact-information {
    display: none;
  }

  .chat-name {
    width: 100%;
    margin: auto;
  }

  .wrap-chat {
    height: calc(100% - 120px);
    display: flex;
  }

  .chat {
    background-color: #e5ddd5;
    background-image: url(https://i.pinimg.com/564x/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg);
    width: 100%;
    padding: 0px 10%;
    padding-top: 7px;
    overflow-y: auto;
  }

  .information {
    width: 100%;
    position: relative;
    background: #f7f7f7;
    display: none;
    flex-direction: column;
    overflow: auto;
  }

  .information div {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }

  .information img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    float: left;
  }

  .information h1 {
    color: #009688;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .listGroups {
    display: flex;
    margin: 0px !important;
  }

  .listGroups img {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 0px;
  }

  .listGroups p {
    margin: auto 0px;
  }

  /* ------ CHAT ------ */
  .chat-bubble {
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    padding: 5px 7px;
    width: 350px;
    max-width: 100%;
    position: relative;
  }

  .you {
    background: #ffffff;
    margin: 0px auto 10px 0px;
  }

  .me {
    background: #dcf8c6;
    margin: 0px 0px 10px auto;
  }

  .your-mouth {
    width: 0;
    height: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: 10px;
    left: -10px;
  }

  .my-mouth {
    width: 0;
    height: 0;
    border-bottom: 10px solid #dcf8c6;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 10px;
    left: 100%;
  }

  .content {
    margin: 0.5em 0;
    line-height: 120%;
    font-size: 0.9em;
  }

  .content img {
    width: 100%;
  }

  .time {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.6em;
    text-align: right;
    margin-top: -10px;
  }

  .pink {
    color: #EE33AA;
  }

  .green {
    color: #44FF66;
  }

  .orange {
    color: #FF8811;
  }

  .wrap-message {
    width: 100%;
    height: 60px;
    background: #111b21;
    display: flex;
  }

  .message {
    width: 100%;
    height: 45px;
    background: #2a3942;
    margin: auto;
    /* border: 1px solid #eeeeee; */
    border-radius: 5px;
    display: flex;
  }

  .input-message {
    width: 100%;
    margin: 0px 10px;
    border: none;
    background: #2a3942;
  }

  .input-message:focus {
    outline: none;
  }

  /* ------ SCROLLBAR ------ */

  body::-webkit-scrollbar,
  .contact-list::-webkit-scrollbar,
  .chat::-webkit-scrollbar,
  .information::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
  }

  body::-webkit-scrollbar-thumb,
  .contact-list::-webkit-scrollbar-thumb,
  .chat::-webkit-scrollbar-thumb,
  .information::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* ------ MEDIA QUERIES ------ */
  @media (min-width: 1200px) {
    .wrap {
      margin-bottom: 2vh;
      margin-top: 25px;
      height: calc(98vh - 25px);
    }
  }

  @media (max-width: 600px) {
    .wrap {
      height: calc(100vh - 0.4em);
    }
  }
